In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("E:/Datascience/Data/default of credit card clients.xls")

In [3]:
data.head()

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
2,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0

In [4]:
data.columns = data.loc[0]
data = data[1:]

In [5]:
data.index = data.ID

In [6]:
data.drop(columns=['ID'],inplace=True)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30000 entries, 1 to 30000
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   LIMIT_BAL                   30000 non-null  object
 1   SEX                         30000 non-null  object
 2   EDUCATION                   30000 non-null  object
 3   MARRIAGE                    30000 non-null  object
 4   AGE                         30000 non-null  object
 5   PAY_0                       30000 non-null  object
 6   PAY_2                       30000 non-null  object
 7   PAY_3                       30000 non-null  object
 8   PAY_4                       30000 non-null  object
 9   PAY_5                       30000 non-null  object
 10  PAY_6                       30000 non-null  object
 11  BILL_AMT1                   30000 non-null  object
 12  BILL_AMT2                   30000 non-null  object
 13  BILL_AMT3                   30000 non-null  object
 14  BILL_AMT4                   30000 non-null  object
 15  BILL_AMT5                   30000 non-null  object
 16  BILL_AMT6                   30000 non-null  object
 17  PAY_AMT1                    30000 non-null  object
 18  PAY_AMT2                    30000 non-null  object
 19  PAY_AMT3                    30000 non-null  object
 20  PAY_AMT4                    30000 non-null  object
 21  PAY_AMT5                    30000 non-null  object
 22  PAY_AMT6                    30000 non-null  object
 23  default payment next month  30000 non-null  object
dtypes: object(24)
memory usage: 5.7+ MB

In [8]:
for col in data.columns:
    data[col] = data[col].astype('int')

In [9]:
data.rename(columns={'default payment next month':'def_next_month'}, inplace=True)

In [10]:
data.sample(5)

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,def_next_month
ID,,,,,,,,,,,,,,,,,,,,,
29618,50000,1,2,2,48,0,0,0,0,0,...,16927,17263,17628,1992,2170,1282,618,643,1000,0
14402,160000,1,2,1,52,-1,-1,2,-1,2,...,1080,540,390,780,0,1080,0,390,390,0
16031,570000,2,1,2,30,0,0,0,-1,0,...,74003,57763,50852,50468,33372,74085,290,51107,41791,0
23274,180000,2,2,2,46,-2,-2,-2,-2,-2,...,3064,2158,9331,2453,6997,3064,2158,9331,0,0
21355,20000,1,3,1,57,1,2,2,-2,-2,...,-1440,-1830,780,0,0,0,0,3000,0,1

In [11]:
data.def_next_month.value_counts()

0    23364
1     6636
Name: def_next_month, dtype: int64

In [12]:
payment_status = data.filter(regex='PAY_\d')  # regex PAY_ follwed by digit-- \d

In [13]:
columns= list(payment_status)
columns

['PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']

In [14]:
for col in columns:
    data[col] = data[col].map(lambda v:0 if v<0 else v)

data

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,def_next_month
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,0,0,0,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,0,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,50000,1,2,1,57,0,0,0,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1,3,1,39,0,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29997,150000,1,3,2,43,0,0,0,0,0,...,8979,5190,0,1837,3526,8998,129,0,0,0
29998,30000,1,2,2,37,4,3,2,0,0,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29999,80000,1,3,1,41,1,0,0,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
30000,50000,1,2,1,46,0,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

Baseline Model (without optimisation)

In [15]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [16]:
lr = LogisticRegression()
feature_data = data.drop(columns = ['def_next_month'])
trainX,testX,trainY,testY = train_test_split(feature_data,data.def_next_month)

In [17]:
lr.fit(trainX,trainY)

c:\users\sanu menon\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [18]:
lr.score(testX,testY)

0.7764

In [19]:
y_pred = lr.predict(testX)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [20]:
from sklearn.metrics import recall_score

In [21]:
recall_score(testY,y_pred,average='micro')

0.7764

In [22]:
data.def_next_month.value_counts()

0    23364
1     6636
Name: def_next_month, dtype: int64

In [23]:
from sklearn.metrics import confusion_matrix

In [24]:
confusion_matrix(y_pred=y_pred,y_true=testY)

array([[5823,    1],
       [1676,    0]], dtype=int64)

In [25]:
from imblearn.over_sampling import RandomOverSampler

In [26]:
#Balancing Classes
rs = RandomOverSampler()     
feature_data = data.drop(columns = ['def_next_month'])
target_data = data.def_next_month
feature_sample,target_sample = rs.fit_sample(feature_data,target_data)

In [27]:
feature_sample.shape

(46728, 23)

In [28]:
target_sample.shape

(46728,)

In [29]:
trainX,testX,trainY,testY = train_test_split(feature_sample,target_sample)

In [30]:
from sklearn.ensemble import RandomForestClassifier

In [31]:
rf = RandomForestClassifier()

In [32]:
rf = RandomForestClassifier(n_estimators=100, n_jobs=3)

In [33]:
rf.fit(trainX,trainY)

RandomForestClassifier(n_jobs=3)

In [34]:
y_pred = rf.predict(testX)

In [35]:
y_pred.shape

(11682,)

In [36]:
confusion_matrix(y_pred=y_pred, y_true=testY)

array([[5209,  598],
       [ 200, 5675]], dtype=int64)

In [37]:
recall_score(testY,y_pred,average='micro')

0.9316897791474062

In [38]:
rf.feature_importances_

array([0.06509714, 0.01156171, 0.02054679, 0.01339868, 0.06329545,
       0.09589756, 0.02812248, 0.03017443, 0.0191087 , 0.0133642 ,
       0.01202602, 0.06510024, 0.05761132, 0.05388455, 0.05183804,
       0.05036472, 0.05172089, 0.05573498, 0.05183783, 0.04885314,
       0.04625281, 0.04613781, 0.04807054])

In [39]:
list(feature_data.columns)

['LIMIT_BAL',
 'SEX',
 'EDUCATION',
 'MARRIAGE',
 'AGE',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6']

In [40]:
#Feature Selection
feature_imp = pd.Series(rf.feature_importances_,index=list(feature_data.columns))
feature_imp

LIMIT_BAL    0.065097
SEX          0.011562
EDUCATION    0.020547
MARRIAGE     0.013399
AGE          0.063295
PAY_0        0.095898
PAY_2        0.028122
PAY_3        0.030174
PAY_4        0.019109
PAY_5        0.013364
PAY_6        0.012026
BILL_AMT1    0.065100
BILL_AMT2    0.057611
BILL_AMT3    0.053885
BILL_AMT4    0.051838
BILL_AMT5    0.050365
BILL_AMT6    0.051721
PAY_AMT1     0.055735
PAY_AMT2     0.051838
PAY_AMT3     0.048853
PAY_AMT4     0.046253
PAY_AMT5     0.046138
PAY_AMT6     0.048071
dtype: float64

In [41]:
feature_imp.sort_values(ascending =False)

PAY_0        0.095898
BILL_AMT1    0.065100
LIMIT_BAL    0.065097
AGE          0.063295
BILL_AMT2    0.057611
PAY_AMT1     0.055735
BILL_AMT3    0.053885
BILL_AMT4    0.051838
PAY_AMT2     0.051838
BILL_AMT6    0.051721
BILL_AMT5    0.050365
PAY_AMT3     0.048853
PAY_AMT6     0.048071
PAY_AMT4     0.046253
PAY_AMT5     0.046138
PAY_3        0.030174
PAY_2        0.028122
EDUCATION    0.020547
PAY_4        0.019109
MARRIAGE     0.013399
PAY_5        0.013364
PAY_6        0.012026
SEX          0.011562
dtype: float64

In [42]:
top_features = list(feature_imp.sort_values(ascending =False).index)[:10]
top_features

['PAY_0',
 'BILL_AMT1',
 'LIMIT_BAL',
 'AGE',
 'BILL_AMT2',
 'PAY_AMT1',
 'BILL_AMT3',
 'BILL_AMT4',
 'PAY_AMT2',
 'BILL_AMT6']

In [43]:
feature_data = data[top_features]
target_data = data.def_next_month
feature_sample,target_sample = rs.fit_sample(feature_data,target_data)

In [44]:
feature_sample.shape

(46728, 10)

In [45]:
target_sample.shape

(46728,)

In [46]:
trainX,testX,trainY,testY = train_test_split(feature_sample,target_sample)

In [47]:
rf.fit(trainX,trainY)

RandomForestClassifier(n_jobs=3)

In [48]:
rf.score(testX,testY)

0.926125663413799

In [49]:
y_pred = rf.predict(testX)

In [50]:
confusion_matrix(y_pred=y_pred, y_true=testY)

array([[5262,  645],
       [ 218, 5557]], dtype=int64)

In [51]:
recall_score(testY,y_pred,average='micro')

0.926125663413799

In [52]:
rf = RandomForestClassifier()

In [53]:
#Hyper-parameter Tuning
from sklearn.model_selection import GridSearchCV
gs = GridSearchCV(rf,param_grid={'n_estimators':[100,200,300,400],'max_depth':[None]},cv =5,n_jobs=4)
gs.fit(trainX,trainY)

GridSearchCV(cv=5, estimator=RandomForestClassifier(), n_jobs=4,
             param_grid={'max_depth': [None],
                         'n_estimators': [100, 200, 300, 400]})

In [54]:
gs.best_params_

{'max_depth': None, 'n_estimators': 300}

In [55]:
gs.best_score_

0.9069222798728921

In [58]:
y_pred = gs.predict(testX)

In [59]:
recall_score(testY,y_pred,average='micro')

0.9281801061462078

In [60]:
gs.score(testX,testY)

0.9281801061462078